# Python I

0. `"hello, world"`
1. Variables and Datatypes
2. Input and Output
3. Operators
4. Conditional Statements
5. Loop Statements
6. String Methods
7. Functions I   $\longleftarrow$
8. Advanced Data-Types

---

## String Methods

String Methods are a set of built-in methods that you can use on strings for data handling and manipulation.

In [1]:
word1 = 'quagmire'
word2 = 'peter'

In [3]:
print(word1+word2)
print(word1*3)

quagmirepeter
quagmirequagmirequagmire

In [17]:
sentence = "The quick brown fox jumps over the lazy dog 452 698 */%"

In [19]:
print(len(sentence))       # returns length of string

print(sentence.find('o'))  # returns index of 1st occurance
print(sentence.count('o'))
print(sentence.title())
print(sentence.split('e'))
sentence = sentence.replace(' ', '')
sentence

55
12
4
The Quick Brown Fox Jumps Over The Lazy Dog 452 698 */%
['Th', ' quick brown fox jumps ov', 'r th', ' lazy dog 452 698 */%']

'Thequickbrownfoxjumpsoverthelazydog452698*/%'

In [21]:
print(sentence.isalnum())  # contains only alphanum
print(sentence.isascii())  # contains only ascii

False
True

---

**Exercise:** Write a program to check validity and strength of password.

In [19]:
password = input("Enter password: ")

if len(password)>=8 and len(password)<=20:
    if password.isalnum():
        print("Valid password")
    else:
        print("Invalid password")
else:
    print("Invalid password")

Enter password:  ooga booga

Invalid password

---

In [23]:
sentence

'Thequickbrownfoxjumpsoverthelazydog452698*/%'

In [25]:
# indexing
sentence[10]
sentence[-7]

'2'

In [27]:
# slicing 1
sentence[:6]
sentence[5:]

'ickbrownfoxjumpsoverthelazydog452698*/%'

In [29]:
# slicing 2
sentence[::2]
sentence[::-1]

sentence[2:35:3]

'eibwousehad'

---

**Exercise:** Return the username and email provider of user after they enter their Email ID.

In [26]:
email_id = input("Enter your email: ")

index = email_id.index('@')
username = email_id[:index]
domain = email_id[index+1:email_id.index('.')]

print(f"{username} is your username and {domain} is your email provider.")

Enter your email:  daaanishhh002@gmail.com

daaanishhh002 is your username and gmail is your email provider.

---

**Exercise:** Write a program that validates credit card number.

In [31]:
cc_number = input("Enter credit card number: ")
sum_odd_dig, sum_even_dig = 0,0

cc_number = cc_number.replace(' ', '')
cc_number = cc_number.replace('-', '')
cc_number = cc_number[::-1]

for i in cc_number[::2]:
    sum_odd_dig += int(i)

for i in cc_number[1::2]:
    i = int(i) * 2
    if i>=10:
        sum_even_dig += (1+(i%10))
    else:
        sum_even_dig += i

total = sum_even_dig + sum_odd_dig

if total%10==0:
    print("It is a valid credit card number.")
else:
    print("It is not a valid credit card number.")

Enter credit card number:  534848415418451

It is not a valid credit card number.

Test with 4012888888881881 and 5105105105105100

---

In [34]:
price1 = 14565200.985
price2 = -526.56235879
price3 = 729.41

In [40]:
# format specifier
print(f"Price is {price1:,}")    # thousands separator
print(f"Price is {price2:.2f}")  # decimal limiter
print(f"Price is {price3: }")    # leaves space for sign

Price is 14,565,200.985
Price is -526.56
Price is  729.41

---

## Functions I

A function is a block of code, to which you can pass data, known as parameters, which in turn returns data as a result.

In [34]:
def greet_ntimes(n):
    for i in range(n):
        print("G'Mornin")

In [35]:
greet_ntimes(3)

G'Mornin
G'Mornin
G'Mornin

---

**Exercise:** Write a program that returns the factorial of a given number.

In [36]:
def factorial(n):
    total = 1
    for i in range(2,n+1):
        total *= i
    
    return total

In [37]:
factorial(10)

3628800

---

In [46]:
# positional arguments
def net_price(list_price, discnt, tax):
    return f'{list_price * (1-discnt) * (1+tax):.3f}'

In [48]:
net_price(1500, 0.1, 0.025)

'1383.750'

In [50]:
net_price(1500, 0.025, 0.1)

'1608.750'

In [40]:
# default arguments
def net_price(list_price, discnt=0.0, tax=0.025):
    return list_price * (1-discnt) * (1+tax)

**Note:** Default arguments should always succeed non-default arguments.

In [41]:
net_price(500)

512.5

In [42]:
net_price(500, 0.1, 0.0)

450.0

In [43]:
# keyword arguments
def roll_no(college_code, batch, branch_code, uni_id):
    print(f"{college_code}-{batch}-{branch_code}-{uni_id}")

In [44]:
roll_no(batch=21, uni_id=65, college_code=1604, branch_code=735)

1604-21-735-65

In [55]:
# arbitrary arguments
def display_name(a, b, *args):
    print(a+b)
    for arg in args:
        print(arg, end=' ')

In [57]:
display_name(9, 5, 'Dr.', 'Prof.', 'Danish', 'Ahmed', 'I')

14
Dr. Prof. Danish Ahmed I

**Note:** `*args` allows us to pass in multiple arguments. Only one `*arg` per function is allowed.

In [59]:
# keyword arguments
def address(a, b, **kwargs):
    print(a+b)
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [79]:
address(15, 62, street='gudiyan', area="malaz", pincode=500009, city='hyderabad', state='telangana')

77
street: gudiyan
area: malaz
pincode: 500009
city: hyderabad
state: telangana

**Note:** `**kwargs` allows us to pass in multiple keyword arguments. Only one `**kwarg` per function is allowed.

---

**Exercise:** Create a shopping label for Amazon

In [71]:
def shipping_label(a, b, c, *args, **kwargs):
    print(a+b+c)
    for arg in args:
        print(arg, end=' ')
    print()
    print(f"+91 {kwargs.get('phone_no')}")
    print(f"{kwargs.get('house_no')} {kwargs.get('colony')}")
    print(f"{kwargs.get('locality')}")
    print(f"{kwargs.get('area')} {kwargs.get('pincode')}")
    print(f"{kwargs.get('city')}")
    print(f"{kwargs.get('state')}")
    print(f"{kwargs.get('country')}")

In [77]:
shipping_label(16, 26, -6, 'Dr.', 'Prof.', 'Danish', 'Ahmed', 'I',
              phone_no='905xxxxxx', house_no='14-6-443/21/1/b',colony='shradha nagar',
              locality='gudiyan', area='malaz',
              pincode=500009, city='hyderabad', state='telangana',
              country='india')

36
Dr. Prof. Danish Ahmed I
+91 905xxxxxx
14-6-443/21/1/b shradha nagar
gudiyan
malaz 500009
hyderabad
telangana
india

---

In [81]:
# built-in functions
print(ord('D'))
print(abs(-856))

print(max(52, 96, 41, 852, 45, 853))
print(min(52, 96, 41, 852, 45, 853))

68
856
853
41

In [5]:
# built-in functions
print(round(4165.528))      # rounds to nearest decimal
print(round(4165.528, 2))   # rounds to 2nd decimal value
print(round(4165.528, -2))  # rounds to 100s place

4166
4165.53
4200.0

**Note:** We can also access functions from a module called `math` which houses many math related functions and values.

In [ ]:
import math

a = int(input("Enter length of side \'a\': "))
b = int(input("Enter length of side \'b\': "))

c = math.sqrt(pow(a, 2)+pow(b, 2))
print(f"{round(c, 2)} is the length of the hypotenuse.")

Enter length of side 'a':  9
Enter length of side 'b':  6

10.82 is the length of the hypotenuse.

---

**Exercise:** Find the distance and direction a person must travel to reach destination.

In [ ]:
x_coor1 = float(input("Enter X coordinate starting point: "))
y_coor1 = float(input("Enter Y coordinate starting point: "))
x_coor2 = float(input("Enter X coordinate ending point: "))
y_coor2 = float(input("Enter Y coordinate ending point: "))

r = math.dist((x_coor2, y_coor2), (x_coor1, y_coor1))
phi = math.atan((y_coor2-y_coor1)/(x_coor2-x_coor1))

print(f"You have to travel a distance of {round(r, 2)}m in {round(math.degrees(phi), 2)}° direction.")

Enter X coordinate starting point:  4
Enter Y coordinate starting point:  0
Enter X coordinate ending point:  6
Enter Y coordinate ending point:  11

You have to travel a distance of 11.18m in 79.7° direction.

---

### Variable Scope

The scope of a variable alludes to where it can be accessed in a program. A variable's scope depends on where it is announced and is confined to the piece in which it was defined.

In [67]:
global_variable = 40
print("Before calling:", global_variable)

def my_function():
    global global_variable  # modify the global variable
    global_variable += 50
    print("Variable inside function:", global_variable)

my_function()
print("Variable outside function:", global_variable)

Before modification: 40
Variable inside function: 90
Variable outside function: 90

**Note:** Within a function, we first look for a **local** variable, then for an **enclosed** variable, then for a **global** variable and lastly we look for a **built-in** variable.

In [73]:
outer_variable = 80
print("Before calling:", outer_variable)

def outer_function():
    outer_variable = 20
    print("Before modification:", outer_variable)
    
    def inner_function():
        nonlocal outer_variable  # modify the enclosing function's variable
        outer_variable += 30
        print("Inside inner function:", outer_variable)
    
    inner_function()
    print("Inside outer function:", outer_variable)

outer_function()
print("After calling:", outer_variable)

Before calling: 80
Before modification: 20
Inside inner function: 50
Inside outer function: 50
After calling: 80

---